/* 
// Examples Stylesheet
// -------------------
*/
@import "../../node_modules/material-design-lite/material.less";
@import "../../node_modules/swiper/dist/css/swiper.less";

@app-yellow: rgb(249, 219, 0);

// @font-face {
//   font-family: 'Material Icons';
//   font-style: normal;
//   font-weight: 400;
//   src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
//   src: local('Material Icons'),
//        local('MaterialIcons-Regular'),
//        url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
//        url(/fonts/MaterialIcons-Regular.woff) format('woff'),
//        url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
// }

// .material-icons {
//   font-family: 'Material Icons';
//   font-weight: normal;
//   font-style: normal;
//   font-size: 24px;  /* Preferred icon size */
//   display: inline-block;
//   width: 1em;
//   height: 1em;
//   line-height: 1;
//   text-transform: none;
//   letter-spacing: normal;
//   word-wrap: normal;

//   /* Support for all WebKit browsers. */
//   -webkit-font-smoothing: antialiased;
//   /* Support for Safari and Chrome. */
//   text-rendering: optimizeLegibility;

//   /* Support for Firefox. */
//   -moz-osx-font-smoothing: grayscale;

//   /* Support for IE. */
//   font-feature-settings: 'liga';
// }

body{
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 0;
}

.await-device-header{
	margin: 0.1em 0;
}

.header-button{
  text-align: center;
  width: 64px;
}

.mdl-padded{
	padding: 8px;
}

.mdl-fill{
	width: 100%;
}

.ui-point{
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0px auto;
	.location-logo{
		height: 64px;
		width: 64px;
		text-align: center;
		font-size: 64px;
		line-height: 64px;
		position: absolute;
		top: 75%;
		left: 75%;
		margin: -50%;
		color: #f0f0f0;
	}
}

.react-router-component{
	height: 100%;	
}

.mdl-swipe-tabs{
	height: 100%;
	display: flex;
	flex-direction: column;
	
	.mdl-tabs__tab{
		z-index: 1000;
		cursor: pointer;	
	}
	
	.swiper-container{
		position: relative;
		width: 100%;
		flex: 1;
	}
}

.mdl-tabs__tab-bar{
	user-select: none;
	position: relative;
	z-index: 1000;	
}
.mdl-tabs__custom-line{
	z-index: 1200;
	position: relative;
	height: 2px;
	width: 100%;
	margin-top: -2px;
}

.mdl-tabs__custom-line__drag{
	width: 20%;
	height: 2px;
	position: absolute;
	transition: all 100ms;
	background: @app-yellow;
}


#container{
	height: 100vh;
	width: 100vw;
	max-width: 480px;
}

*{
  box-sizing: border-box;
}

.full--height{
	height: 100%;
}

.Number{
  transform: rotateZ(0deg);
  height: 120px;
  background: #fff;
  border-bottom: 1px solid #d8d8d8;
  font-family: Helvetica;
  line-height: 120px;
  font-size: 48px;
  text-align: center;
}
.mdl-button--fab.mdl-button--colored:hover{
	background: @app-yellow;
}
.mdl-button--fab.mdl-button--colored{
	background: @app-yellow;
	color: #000;
}

.secondary-fab,
.primary-fab{
	z-index: 10000;
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.secondary-fab{
	right: 80px;
}

.mdl-typography--light-heading{
	font-weight: 300;
}
.mdl-transaction__date{
	align-self: flex-start;
	padding-top: 3px;
}
.App__Overlay{
	opacity: 0;
	transition: opacity 150ms;
	background: #323232;
	position: fixed;
	visibility: collapse;
	overflow: hidden;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
	> .mdl-card{
		width: 90%;
		height: auto;
		transition: transform 300ms;
		transform: translateY(100%);
	}
	.mdl-card__supporting-text{
		width: 100%;
	}
}

.App__Overlay--open{

	visibility: visible;
	
	.mdl-card { 
		transform: translateY(0%);
	}
	
	opacity: 1;

}

.ListView{
    position: relative;
    overflow: hidden;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    -ms-scroll-chaining: none;
}

.ListView--Inner{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.AppTransaction--List,
.AppUser-List{
	padding: 8px;
	.mdl-text{
		text-transform: capitalize;
	}

	.AppUser__UserImage{
		width: 56px;
		height: 56px;
	}
}

.AppTransaction--List,
.AppUser-List,
.AppUser-Header{
	display: flex;
	height: 100%;
	align-items: center;

	.mdl-text{
		margin: 5px 10px;
	}

	border-bottom: 1px solid #f5f5f5;
}

.AppTransaction--List{
	.debit{
		color: green;
	}
	.credit{
		color: red;
	}
}

.AppTransaction--List .AppUser__UserImage,
.AppUser-Header .AppUser__UserImage{
	width: 64px;
	height: 64px;
	border-radius: 64px;
}

.clean-margins{
	margin: 0px;
}

.card-swiper{
	margin: 1.2em 0;
	position: relative;
	padding-bottom: 62.75%;

	.card-account{
		background: @app-yellow;
		border-radius: 6px;
		width: 100%;
		height: 100%;
		padding: 16px;
	}

	.swiper-container{
		margin: 0px;
		overflow: visible;
		position: absolute;
		width:100%;	
		height: 100%;
	}
}

.DrawerView{
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.DrawerView--Nav,
.DrawerView--Contents{
	overflow: hidden;
	position: absolute;
	background: #fff;
	height: 100%;
	width: 100%;
	z-index: 100;
	top: 0px;
	transition: transform 400ms;
	-webkit-transition: -webkit-transform 400ms;
}

.DrawerView--drawer-open{
	.DrawerView--Contents{
		transform: translateY(5%) translateX(55%) scale(0.65);
		-webkit-transform: translateY(5%) translateX(55%) scale(0.65);
	}
	.swiper-slide{
		transform-style: flat; 
	}
}

.DrawerView--Nav{
	background: @app-yellow;
	padding: 0px 0px;
    -webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.DrawerView--NavLinks{
	position: absolute;
	height: 65%;
	width: 100%;
	top: 20%;
	padding: 0px;
	list-style: none;
	display: block;	
}

.DrawerView--NavLink,
.DrawerView--NavMast{
	transition: transform 200ms, opacity 150ms;
	padding: 0px 35px;
}

.DrawerView--NavMast{
	height: 20%;
}

@iterations: 10;

.transition-loop (@i) when (@i > 0) {
  .DrawerView--NavLink:nth-of-type(@{i}){
  	transition-delay: (25ms*@i);
  }
  .transition-loop(@i - 1);
}

.transition-loop(@iterations);



.DrawerView--NavLink{
	line-height: 48px;
	display: block;	
}

.DrawerView--NavLink > .Link--Native{
	color: #000;
}

.DrawerView{
	.DrawerView--NavLink, .DrawerView--NavMast{
		opacity: 0;
		transform: translateX(-25px);
	}
}

.DrawerView--drawer-open{
	.DrawerView--NavLink, .DrawerView--NavMast{
		opacity: 1;
		transform: translateX(0px);
	}
}

.HeaderView{
	background: #fff;
	border-bottom: 1px solid #d8d8d8;
	-ms-user-select: none;
	user-select: none;
}

.Layout{
	position: relative;
    display: -webkit-flex;
    display: flex;
	height: 100%;
	width: 100%;
}

.Horizontal-Layout{
	.Layout;
}

.Vertical-Layout{
	.Layout;
    -webkit-flex-direction: column;
	flex-direction: column;
}

.Cell{
	position: relative;
	position: relative;
	min-height: 0px;
}

.Cell-Flex{
    -webkit-flex: 1;
	flex: 1;
	.Cell;
}

.HeaderView{
	overflow: hidden;
	position:relative;
	padding: 0.01em;
	padding-top: 20px;
	height: 64px;
}

.header-icon{
	line-height: 36px;
}

.flex-fill-fix{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.TabView--ScrollContainer,
.TabView, .TabView--TabWrapper{
	position: relative;
	height: 100%;
	width: 100%;
}

.TabView--Headers{
	width: auto;
	white-space: nowrap;
	font-size: 0;
}

.TabView--ScrollContainer{
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-scroll-snap-x: mandatory snapInterval(0%, 100%);
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -wekbit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    -ms-scroll-chaining: none;
}

.TabView--Headers{
	height: 48px;
	font-size: 18px;
	line-height: 48px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.TabView--TabWrapper{
    position: absolute;
    top: 0;
    left:;
}

.TabView--TabHeader{
	display: inline-block;
	color: #545454;
	padding: 0px 10px;
}

.TabView--TabHeader-active{
	color: #f0697b;
}

.UIInput{
	font-size: 18px;
}

.UIInput--NativeInput,
.UICCInput--Expiry--Seperator{
	font-size: inherit;
	display: block;
}

.UICCInput--Expiry--Seperator{
	display: block;
	min-width: 40px;
	text-align: center;
}

.UIInput--NativeInput{
	width: 100%;
	border: 0;
}

.UIInput--NativeInput:focus{
	outline: none;
}